*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(210, 255, 127);
  
}
.container{
    width: 1140px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header{
    background-color: white;
}
.navbar a{
    text-decoration: none;
    margin-left: 40px;
    color: black;
}
.navbar a:hover{
    color: blue;
    font-size: 40px;
}

.home h1{
    margin-top: 30px;
    text-align: center;
    letter-spacing: 10px;
}
.home p{
    margin-top: 20px;
    text-align: justify;
    line-height: 30px;
}
.home div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.home div img{
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
}
.home div img:hover{
    transform: scale(1.20);
}
.servicios h1{
    margin-top: 30px;
    text-align: center;
    letter-spacing: 10px;
}
.servicios p{
    margin-top: 20px;
    text-align: justify;
    line-height: 30px;
}
.servicios div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.servicios img{
    width: 250px;    
}
.servicios div img:hover{
    transform: scale(1.50);
}
.servicios ul{
    margin-top: 20px;
    text-align: justify;
    line-height: 30px;
}
.portafolio div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.portafolio h2{
    margin-top: 30px;
    text-align: center;
    letter-spacing: 10px;
}
.portafolio p{
    margin-top: 20px;
    text-align: justify;
    line-height: 30px;
}
.portafolio img{
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
}
.portafolio img:hover{
    transform: scale(1.20);
}
.contacto h1{
    margin-top: 30px;
    text-align: center;
    letter-spacing: 10px;
}
.contacto p{
    margin-top: 20px;
    text-align: justify;
    line-height: 30px;
}
.contacto form input{
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
}
.contacto form textarea{
    height: 214px; 
    width: 100%; 
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
}
.contacto form button{
    width: 195px;
    height:  73px;
    background-color: white;
    border: 1px solid green;
    color: green;
    cursor: pointer;
 }
 footer{
    background-color: white;
    height: 100px;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pie p{
    margin-top: 35px;      
}
.pie{
    margin-left: 21px;
}


